*~
.*~
pyttb.egg-info/
dist/
.pytest_cache
tests/__pycache__
pyttb/__pycache__
build/
_build/
.coverage
.ipynb_checkpoints
htmlcov
__pycache__
.vs*
TestResults
.DS_Store
# Static tensor data
profiling/**/*.tns
# Profiling results
*.pstats
profiling/**/*.png