[project]
name = "pyttb"
version = "1.3.3"
description = "Python Tensor Toolbox"
authors = [
  {name="Daniel M. Dunlavy", email="dmdunla@sandia.gov"},
]
license = { text="BSD 2-Clause License" }
readme = "README.md"
requires-python = ">=3.8"

dependencies = [
    "numpy",
    "numpy_groupies",
]

classifiers = [
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]

[project.urls]
homepage = "https://github.com/sandialabs/pyttb"
coverage = "https://coveralls.io/github/sandialabs/pyttb"
documentation = "https://pyttb.readthedocs.io"

[build-system]
requires = ["setuptools>=61.0", "numpy", "numpy_groupies", "wheel"]
build-backend = "setuptools.build_meta"

